@model IEnumerable<frontend_Lopez_Avarez_Jose.Models.Sede>

@{
    ViewData["Title"] = "ListarSedes";
}

<h1>Listado de Sedes</h1>

<p>
    <a class="btn btn-primary" asp-action="CrearSede">Nueva Sede</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Referencia</th>
                <th>Teléfono</th>
                <th>Hora de Atención</th>
                <th>Director</th>
                <th>Contacto</th>
                <th>Email de Contacto</th>
                <th>Número de Consultorios</th>
                <th>Número de Camas</th>
                <th>Sitio Web</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.idSede)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.direccion)</td>
                    <td>@Html.DisplayFor(modelItem => item.referencia)</td>
                    <td>@Html.DisplayFor(modelItem => item.telefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.horaAtencion)</td>
                    <td>@Html.DisplayFor(modelItem => item.director)</td>
                    <td>@Html.DisplayFor(modelItem => item.contacto)</td>
                    <td>@Html.DisplayFor(modelItem => item.emailContacto)</td>
                    <td>@Html.DisplayFor(modelItem => item.numeroConsultorios)</td>
                    <td>@Html.DisplayFor(modelItem => item.numeroCamas)</td>
                    <td>@Html.DisplayFor(modelItem => item.sitioWeb)</td>
                    <td>@Html.DisplayFor(modelItem => item.estado)</td>
                    <td>
                        
                        @Html.ActionLink("Edit", "EditarSede", new { id = item.idSede})|
                        @Html.ActionLink("Delete", "EliminarSede", new { id = item.idSede})|
                        <a class="btn btn-info" href="@Url.Action("Details", new { id = item.idSede })">Detalles</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
